body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.edit-font{
    font-size: 40px;
}
.color{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    
}
.half-width img{
    width: 90%;
    padding-top: 50px;
    padding-left: 2%;
}
.hire-button{
    text-decoration: none;
    background-color:brown;
    color: aliceblue;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px
}
.welcome-to{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
#another-dream{
    color: crimson;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
    box-shadow: 10px 10px 25px chocolate;
}
#border-kaj-left{
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#border-kaj-right{
    border-left: 8px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}